<!DOCTYPE html>
{% load static %}
<html>
    <body>
        <div class = 'forms'>
            <form method = 'POST'>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                {% csrf_token %}
                {{Statusform}}
                <button type = 'submit' id = btn> Submit</button>
            </form>
        </div>
        <div>
            {%for items in StatusList%}
            <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Status : {{items.status}}
                    </div>
            </div>
            {% endfor %}
        </div>


    </body>
</html>